# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev-output.log
*.log

# environment variables
.env
.env.local
.env.production

# local task tracking
src/task.md
task.md

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# OS metadata
Thumbs.db
